[data-page=".global_menu"][data-itemid="welcome_item2"] > .bs-welcome-header {
  background-color: #f7f7f7;
}
[data-page=".global_menu"][data-itemid="welcome_item2"] > .bs-welcome-header > a {
  color: #000000;
}
[data-page=".global_menu"][data-itemid="welcome_item"] > .bs-welcome-header {
  background-color: #D2691E;
}
[data-page=".global_menu"][data-itemid="welcome_item1"] > .bs-welcome-header {
  background-color: #CD853F;
}
[data-page=".global_menu"][data-itemid="welcome_item3"] > .bs-welcome-header {
  background-color: #DAA520;
}
[data-page=".global_menu"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


