<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
		
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expandir" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}" >

	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle btn-sm )" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Búsqueda			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Mostrar opciones</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>todas las condiciones</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>cualquier condición</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>esconder</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_Dependencia_Descripcion}


		<div class="form-group srchPanelRow {$filterRow_class_Dependencia_Descripcion}" {$filterRow_attrs_Dependencia_Descripcion}>
			<label>{$label 008_reserva Dependencia_Descripcion }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Dependencia_Descripcion}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Dependencia_Descripcion}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Dependencia_Descripcion}</span>
						</div>
		{END searchCtrlBlock_Dependencia_Descripcion}
																{BEGIN searchCtrlBlock_Valor_Reserva_Presupuestal}


		<div class="form-group srchPanelRow {$filterRow_class_Valor_Reserva_Presupuestal}" {$filterRow_attrs_Valor_Reserva_Presupuestal}>
			<label>{$label 008_reserva Valor_Reserva_Presupuestal }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Valor_Reserva_Presupuestal}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Valor_Reserva_Presupuestal}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Valor_Reserva_Presupuestal}</span>
						</div>
		{END searchCtrlBlock_Valor_Reserva_Presupuestal}
																{BEGIN searchCtrlBlock_Rubro_Presupuestal}


		<div class="form-group srchPanelRow {$filterRow_class_Rubro_Presupuestal}" {$filterRow_attrs_Rubro_Presupuestal}>
			<label>{$label 008_reserva Rubro_Presupuestal }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Rubro_Presupuestal}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Rubro_Presupuestal}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Rubro_Presupuestal}</span>
						</div>
		{END searchCtrlBlock_Rubro_Presupuestal}
																{BEGIN searchCtrlBlock_Proyecto}


		<div class="form-group srchPanelRow {$filterRow_class_Proyecto}" {$filterRow_attrs_Proyecto}>
			<label>{$label 008_reserva Proyecto }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Proyecto}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Proyecto}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Proyecto}</span>
						</div>
		{END searchCtrlBlock_Proyecto}
																{BEGIN searchCtrlBlock_Numero_Reserva_RP}


		<div class="form-group srchPanelRow {$filterRow_class_Numero_Reserva_RP}" {$filterRow_attrs_Numero_Reserva_RP}>
			<label>{$label 008_reserva Numero_Reserva_RP }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Numero_Reserva_RP}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Numero_Reserva_RP}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Numero_Reserva_RP}</span>
						</div>
		{END searchCtrlBlock_Numero_Reserva_RP}
																{BEGIN searchCtrlBlock_Numero_Documento_Soporte}


		<div class="form-group srchPanelRow {$filterRow_class_Numero_Documento_Soporte}" {$filterRow_attrs_Numero_Documento_Soporte}>
			<label>{$label 008_reserva Numero_Documento_Soporte }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Numero_Documento_Soporte}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Numero_Documento_Soporte}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Numero_Documento_Soporte}</span>
						</div>
		{END searchCtrlBlock_Numero_Documento_Soporte}
																{BEGIN searchCtrlBlock_No_Contrato_y_Contratista}


		<div class="form-group srchPanelRow {$filterRow_class_No_Contrato_y_Contratista}" {$filterRow_attrs_No_Contrato_y_Contratista}>
			<label>{$label 008_reserva No_Contrato_y_Contratista }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_No_Contrato_y_Contratista}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_No_Contrato_y_Contratista}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_No_Contrato_y_Contratista}</span>
						</div>
		{END searchCtrlBlock_No_Contrato_y_Contratista}
																{BEGIN searchCtrlBlock_Necesidad}


		<div class="form-group srchPanelRow {$filterRow_class_Necesidad}" {$filterRow_attrs_Necesidad}>
			<label>{$label 008_reserva Necesidad }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Necesidad}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Necesidad}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Necesidad}</span>
						</div>
		{END searchCtrlBlock_Necesidad}
																{BEGIN searchCtrlBlock_Liberaciones_RP}


		<div class="form-group srchPanelRow {$filterRow_class_Liberaciones_RP}" {$filterRow_attrs_Liberaciones_RP}>
			<label>{$label 008_reserva Liberaciones_RP }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Liberaciones_RP}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Liberaciones_RP}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Liberaciones_RP}</span>
						</div>
		{END searchCtrlBlock_Liberaciones_RP}
																{BEGIN searchCtrlBlock_Fecha_liberacion_RP}


		<div class="form-group srchPanelRow {$filterRow_class_Fecha_liberacion_RP}" {$filterRow_attrs_Fecha_liberacion_RP}>
			<label>{$label 008_reserva Fecha_liberacion_RP }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Fecha_liberacion_RP}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Fecha_liberacion_RP}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Fecha_liberacion_RP}</span>
						</div>
		{END searchCtrlBlock_Fecha_liberacion_RP}
																{BEGIN searchCtrlBlock_Ejecucion_al_corte}


		<div class="form-group srchPanelRow {$filterRow_class_Ejecucion_al_corte}" {$filterRow_attrs_Ejecucion_al_corte}>
			<label>{$label 008_reserva Ejecucion_al_corte }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Ejecucion_al_corte}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Ejecucion_al_corte}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Ejecucion_al_corte}</span>
						</div>
		{END searchCtrlBlock_Ejecucion_al_corte}
																{BEGIN searchCtrlBlock_Documento_Soporte}


		<div class="form-group srchPanelRow {$filterRow_class_Documento_Soporte}" {$filterRow_attrs_Documento_Soporte}>
			<label>{$label 008_reserva Documento_Soporte }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Documento_Soporte}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Documento_Soporte}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Documento_Soporte}</span>
						</div>
		{END searchCtrlBlock_Documento_Soporte}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary btn-sm" id="searchButton{$id}" {$searchbutton_attrs}>Buscar</button>

				<button class="btn btn-default btn-sm" {$showAllCont_attrs} {$showallbutton_attrs}>Mostrar todo</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Encubrir" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Muestrame el menu" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
				<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Mostrar todo">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}

	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN editselected_link}
	<li data-itemtype="edit_selected" data-itemid="edit_selected" {$item_edit_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$editselectedlink_attrs} {$editselectedlink_span}  title="" >
				
		Editar los seleccionados		
		</a>
	</li>
{END editselected_link}
							{BEGIN deleteselected_link}
	<li data-itemtype="delete_selected" data-itemid="delete_selected" {$item_delete_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}  title="" >
				
		Borrar articulos seleccionados		
		</a>
	</li>
{END deleteselected_link}
							<li role="separator" class="divider"></li>								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="008_reserva_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Búsqueda avanzada		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Mostrar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Ocultar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export" data-itemid="export" {$item_export} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportlink_attrs}  title="" >
				
		Exportar resultados		
		</a>
	</li>
{END export_link}
							<li role="separator" class="divider"></li>					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Conectar			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		Perfil del usuario		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Area Admin		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Cambiar contraseña		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-6
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN saveall_link}
<span data-itemtype="inline_save_all" data-itemid="inline_save_all" {$item_inline_save_all} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savealllink_attrs} {$savealllink_span} >
							Guardar todo			</a>
</span>
{END saveall_link}
	 
		{BEGIN import_link}
<span data-itemtype="import" data-itemid="import" {$item_import} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$importlink_attrs} href="008_reserva_import.php{$stateLink_full}" >
							Importar			</a>
</span>
{END import_link}
	 
		{BEGIN cancelall_link}
<span data-itemtype="inline_cancel_all" data-itemid="inline_cancel_all" {$item_inline_cancel_all} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$cancelalllink_attrs} {$cancelalllink_span} >
							Cancelar			</a>
</span>
{END cancelall_link}
	 
		{BEGIN deleteselected_link}
<span data-itemtype="delete" data-itemid="delete" {$item_delete} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled >
							Borrar artículos seleccionados			</a>
</span>
{END deleteselected_link}
			{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$mlp_push}{$mlparam first var first_shown}{$mlparam last var last_shown}{$mlparam total var records_found}{mlang_message DISPLAYING}{$mlp_pop}</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Página para imprimir" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Rango:		</div>

			 
		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="008_reserva_print.php?all=1&amp;{$crosstable_attrs}" name="printScope" >
									Imprimir todas las páginas							</label>
		</div>
		{END print_friendly_all}
		</div>
		<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="008_reserva_print.php?{$crosstable_attrs}">
				Imprimir esta página			</label>
		</div>
	</div>
		
		 
	<div class="row">
		<div class="col-md-4">
			&nbsp;
		</div>
		<div class="col-md-8">
			<label style="color: gray;" for="printSelection{$id}">
			<input name="printScope" disabled="disabled" id="printSelection{$id}" type="radio" >
			Imprimir la selección			</label>
		</div>
	</div>
	</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Resultados por página							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Imprimir			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
		[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Numero_Reserva_RP"]:before {
		content: "{$label 008_reserva Numero_Reserva_RP}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Dependencia_Descripcion"]:before {
		content: "{$label 008_reserva Dependencia_Descripcion}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Necesidad"]:before {
		content: "{$label 008_reserva Necesidad}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Documento_Soporte"]:before {
		content: "{$label 008_reserva Documento_Soporte}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Numero_Documento_Soporte"]:before {
		content: "{$label 008_reserva Numero_Documento_Soporte}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="No_Contrato_y_Contratista"]:before {
		content: "{$label 008_reserva No_Contrato_y_Contratista}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Proyecto"]:before {
		content: "{$label 008_reserva Proyecto}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Rubro_Presupuestal"]:before {
		content: "{$label 008_reserva Rubro_Presupuestal}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Valor_Reserva_Presupuestal"]:before {
		content: "{$label 008_reserva Valor_Reserva_Presupuestal}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Ejecucion_al_corte"]:before {
		content: "{$label 008_reserva Ejecucion_al_corte}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Liberaciones_RP"]:before {
		content: "{$label 008_reserva Liberaciones_RP}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Fecha_liberacion_RP"]:before {
		content: "{$label 008_reserva Fecha_liberacion_RP}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes} r-horizontal-grid  r-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_icons}
	<th
	
	{$cell_grid_headcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="008_reserva_list"		data-control-cell
	
	>

	
	</th>
	{END cellblock_grid_headcell_icons}
				 
					{BEGIN cellblock_grid_headcell_checkbox}
	<th
	
	{$cell_grid_headcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="008_reserva_list"	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" {$item_grid_checkbox_head} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkboxheader_attrs}>
</span>
{END checkbox_column}
	
	</th>
	{END cellblock_grid_headcell_checkbox}
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$Numero_Reserva_RP_class}
			"

			data-field="Numero_Reserva_RP"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Numero_Reserva_RP_fieldheadercolumn}
	{BEGIN Numero_Reserva_RP_fieldheader}
	<SPAN {$Numero_Reserva_RP_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Numero_Reserva_RP" data-fieldname="Numero_Reserva_RP">
	{$label 008_reserva Numero_Reserva_RP }	{$arrow_icon_Numero_Reserva_RP}
	</SPAN>
	{END Numero_Reserva_RP_fieldheader}
{END Numero_Reserva_RP_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$Dependencia_Descripcion_class}
			"

			data-field="Dependencia_Descripcion"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Dependencia_Descripcion_fieldheadercolumn}
	{BEGIN Dependencia_Descripcion_fieldheader}
	<SPAN {$Dependencia_Descripcion_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Dependencia_Descripcion" data-fieldname="Dependencia_Descripcion">
	{$label 008_reserva Dependencia_Descripcion }	{$arrow_icon_Dependencia_Descripcion}
	</SPAN>
	{END Dependencia_Descripcion_fieldheader}
{END Dependencia_Descripcion_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$Necesidad_class}
			"

			data-field="Necesidad"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Necesidad_fieldheadercolumn}
	{BEGIN Necesidad_fieldheader}
	<SPAN {$Necesidad_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Necesidad" data-fieldname="Necesidad">
	{$label 008_reserva Necesidad }	{$arrow_icon_Necesidad}
	</SPAN>
	{END Necesidad_fieldheader}
{END Necesidad_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$Documento_Soporte_class}
			"

			data-field="Documento_Soporte"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Documento_Soporte_fieldheadercolumn}
	{BEGIN Documento_Soporte_fieldheader}
	<SPAN {$Documento_Soporte_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Documento_Soporte" data-fieldname="Documento_Soporte">
	{$label 008_reserva Documento_Soporte }	{$arrow_icon_Documento_Soporte}
	</SPAN>
	{END Documento_Soporte_fieldheader}
{END Documento_Soporte_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$Numero_Documento_Soporte_class}
			"

			data-field="Numero_Documento_Soporte"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Numero_Documento_Soporte_fieldheadercolumn}
	{BEGIN Numero_Documento_Soporte_fieldheader}
	<SPAN {$Numero_Documento_Soporte_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Numero_Documento_Soporte" data-fieldname="Numero_Documento_Soporte">
	{$label 008_reserva Numero_Documento_Soporte }	{$arrow_icon_Numero_Documento_Soporte}
	</SPAN>
	{END Numero_Documento_Soporte_fieldheader}
{END Numero_Documento_Soporte_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$No_Contrato_y_Contratista_class}
			"

			data-field="No_Contrato_y_Contratista"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN No_Contrato_y_Contratista_fieldheadercolumn}
	{BEGIN No_Contrato_y_Contratista_fieldheader}
	<SPAN {$No_Contrato_y_Contratista_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="No_Contrato_y_Contratista" data-fieldname="No_Contrato_y_Contratista">
	{$label 008_reserva No_Contrato_y_Contratista }	{$arrow_icon_No_Contrato_y_Contratista}
	</SPAN>
	{END No_Contrato_y_Contratista_fieldheader}
{END No_Contrato_y_Contratista_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$Proyecto_class}
			"

			data-field="Proyecto"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Proyecto_fieldheadercolumn}
	{BEGIN Proyecto_fieldheader}
	<SPAN {$Proyecto_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Proyecto" data-fieldname="Proyecto">
	{$label 008_reserva Proyecto }	{$arrow_icon_Proyecto}
	</SPAN>
	{END Proyecto_fieldheader}
{END Proyecto_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
				 
					{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$Rubro_Presupuestal_class}
			"

			data-field="Rubro_Presupuestal"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Rubro_Presupuestal_fieldheadercolumn}
	{BEGIN Rubro_Presupuestal_fieldheader}
	<SPAN {$Rubro_Presupuestal_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Rubro_Presupuestal" data-fieldname="Rubro_Presupuestal">
	{$label 008_reserva Rubro_Presupuestal }	{$arrow_icon_Rubro_Presupuestal}
	</SPAN>
	{END Rubro_Presupuestal_fieldheader}
{END Rubro_Presupuestal_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
				 
					{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$Valor_Reserva_Presupuestal_class}
			"

			data-field="Valor_Reserva_Presupuestal"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Valor_Reserva_Presupuestal_fieldheadercolumn}
	{BEGIN Valor_Reserva_Presupuestal_fieldheader}
	<SPAN {$Valor_Reserva_Presupuestal_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Valor_Reserva_Presupuestal" data-fieldname="Valor_Reserva_Presupuestal">
	{$label 008_reserva Valor_Reserva_Presupuestal }	{$arrow_icon_Valor_Reserva_Presupuestal}
	</SPAN>
	{END Valor_Reserva_Presupuestal_fieldheader}
{END Valor_Reserva_Presupuestal_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
				 
					{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$Ejecucion_al_corte_class}
			"

			data-field="Ejecucion_al_corte"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Ejecucion_al_corte_fieldheadercolumn}
	{BEGIN Ejecucion_al_corte_fieldheader}
	<SPAN {$Ejecucion_al_corte_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Ejecucion_al_corte" data-fieldname="Ejecucion_al_corte">
	{$label 008_reserva Ejecucion_al_corte }	{$arrow_icon_Ejecucion_al_corte}
	</SPAN>
	{END Ejecucion_al_corte_fieldheader}
{END Ejecucion_al_corte_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
				 
					{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$Liberaciones_RP_class}
			"

			data-field="Liberaciones_RP"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Liberaciones_RP_fieldheadercolumn}
	{BEGIN Liberaciones_RP_fieldheader}
	<SPAN {$Liberaciones_RP_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Liberaciones_RP" data-fieldname="Liberaciones_RP">
	{$label 008_reserva Liberaciones_RP }	{$arrow_icon_Liberaciones_RP}
	</SPAN>
	{END Liberaciones_RP_fieldheader}
{END Liberaciones_RP_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
				 
					{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$Fecha_liberacion_RP_class}
			"

			data-field="Fecha_liberacion_RP"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Fecha_liberacion_RP_fieldheadercolumn}
	{BEGIN Fecha_liberacion_RP_fieldheader}
	<SPAN {$Fecha_liberacion_RP_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Fecha_liberacion_RP" data-fieldname="Fecha_liberacion_RP">
	{$label 008_reserva Fecha_liberacion_RP }	{$arrow_icon_Fecha_liberacion_RP}
	</SPAN>
	{END Fecha_liberacion_RP_fieldheader}
{END Fecha_liberacion_RP_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_icons}
	<td
	
	{$cell_grid_cell_icons}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="008_reserva_list"		data-control-cell
	
	>

	 
		{BEGIN inlineedit_column}
{BEGIN inlineedit_link}
<span data-itemtype="grid_inline_edit" data-itemid="grid_inline_edit" {$item_grid_inline_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Editar" class="btn-link   
	 glyphicon glyphicon-edit" {$inlineeditlink_attrs} title="Editar" >		
				
								</a>
</span>
{END inlineedit_link}
{END inlineedit_column}
	 
		{BEGIN inline_save}
<span data-itemtype="grid_inline_save" data-itemid="grid_inline_save" {$item_grid_inline_save} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Guardar" class="btn-link   
	 glyphicon glyphicon-ok" {$inlinesavelink_attrs} title="Guardar" >		
				
								</a>
</span>
{END inline_save}
	 
		{BEGIN inline_cancel}
<span data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" {$item_grid_inline_cancel} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Cancelar" class="btn-link   
	 glyphicon glyphicon-remove" {$inlinerevertlink_attrs} title="Cancelar" >		
				
								</a>
</span>
{END inline_cancel}
	
	</td>
	{END cellblock_grid_cell_icons}
				 
					{BEGIN cellblock_grid_cell_checkbox}
	<td
	
	{$cell_grid_cell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}
		>
</span>	
{END checkbox_column}
	
	</td>
	{END cellblock_grid_cell_checkbox}
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$Numero_Reserva_RP_class}
			"

			data-field="Numero_Reserva_RP"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Numero_Reserva_RP_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Numero_Reserva_RP" data-fieldname="Numero_Reserva_RP" data-default-width >
{$Numero_Reserva_RP_value}
</span>
{END Numero_Reserva_RP_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$Dependencia_Descripcion_class}
			"

			data-field="Dependencia_Descripcion"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Dependencia_Descripcion_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Dependencia_Descripcion" data-fieldname="Dependencia_Descripcion" data-default-width >
{$Dependencia_Descripcion_value}
</span>
{END Dependencia_Descripcion_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$Necesidad_class}
			"

			data-field="Necesidad"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Necesidad_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Necesidad" data-fieldname="Necesidad" data-default-width >
{$Necesidad_value}
</span>
{END Necesidad_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$Documento_Soporte_class}
			"

			data-field="Documento_Soporte"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Documento_Soporte_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Documento_Soporte" data-fieldname="Documento_Soporte" data-default-width >
{$Documento_Soporte_value}
</span>
{END Documento_Soporte_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$Numero_Documento_Soporte_class}
			"

			data-field="Numero_Documento_Soporte"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Numero_Documento_Soporte_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Numero_Documento_Soporte" data-fieldname="Numero_Documento_Soporte" data-default-width >
{$Numero_Documento_Soporte_value}
</span>
{END Numero_Documento_Soporte_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$No_Contrato_y_Contratista_class}
			"

			data-field="No_Contrato_y_Contratista"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN No_Contrato_y_Contratista_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="No_Contrato_y_Contratista" data-fieldname="No_Contrato_y_Contratista" data-default-width >
{$No_Contrato_y_Contratista_value}
</span>
{END No_Contrato_y_Contratista_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$Proyecto_class}
			"

			data-field="Proyecto"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Proyecto_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Proyecto" data-fieldname="Proyecto" data-default-width >
{$Proyecto_value}
</span>
{END Proyecto_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
				 
					{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$Rubro_Presupuestal_class}
			"

			data-field="Rubro_Presupuestal"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Rubro_Presupuestal_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Rubro_Presupuestal" data-fieldname="Rubro_Presupuestal" data-default-width >
{$Rubro_Presupuestal_value}
</span>
{END Rubro_Presupuestal_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
				 
					{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$Valor_Reserva_Presupuestal_class}
			"

			data-field="Valor_Reserva_Presupuestal"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Valor_Reserva_Presupuestal_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Valor_Reserva_Presupuestal" data-fieldname="Valor_Reserva_Presupuestal" data-default-width >
{$Valor_Reserva_Presupuestal_value}
</span>
{END Valor_Reserva_Presupuestal_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
				 
					{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$Ejecucion_al_corte_class}
			"

			data-field="Ejecucion_al_corte"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Ejecucion_al_corte_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Ejecucion_al_corte" data-fieldname="Ejecucion_al_corte" data-default-width >
{$Ejecucion_al_corte_value}
</span>
{END Ejecucion_al_corte_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
				 
					{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$Liberaciones_RP_class}
			"

			data-field="Liberaciones_RP"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Liberaciones_RP_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Liberaciones_RP" data-fieldname="Liberaciones_RP" data-default-width >
{$Liberaciones_RP_value}
</span>
{END Liberaciones_RP_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
				 
					{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$Fecha_liberacion_RP_class}
			"

			data-field="Fecha_liberacion_RP"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Fecha_liberacion_RP_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Fecha_liberacion_RP" data-fieldname="Fecha_liberacion_RP" data-default-width >
{$Fecha_liberacion_RP_value}
</span>
{END Fecha_liberacion_RP_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_icons}
	<td
	
	{$cell_grid_footcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_icons}
				 
					{BEGIN cellblock_grid_footcell_checkbox}
	<td
	
	{$cell_grid_footcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_checkbox}
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="008_reserva_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="008_reserva_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="008_reserva_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="008_reserva_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="008_reserva_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="008_reserva_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="008_reserva_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
				 
					{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="008_reserva_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
				 
					{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="008_reserva_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
				 
					{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="008_reserva_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
				 
					{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="008_reserva_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
				 
					{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="008_reserva_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
